.c-button {
  white-space: nowrap;
  width: 100%;
  line-height: 3;
  color: white;
  background-color: color(white lightness(70%));
  border-radius: 0.25rem;

  &:active {
    background-color: color(white lightness(80%));
  }

  &.x-large {
    line-height: 4.2;
  }

  &.large {
    line-height: 3.6;
  }

  &.small {
    line-height: 2.4;
  }

  &.x-small {
    line-height: 1.8;
  }

  &.primary {
    background-color: var(--primary);

    &:active {
      background-color: color(var(--primary) lightness(+10%));
    }

    &:disabled {
      cursor: not-allowed;
      color: color(white lightness(70%));
      background-color: color(white lightness(80%));
    }
  }

  &.warning {
    background-color: var(--error);

    &:active {
      background-color: color(var(--error) lightness(+10%));
    }

    &:disabled {
      cursor: not-allowed;
      color: color(white lightness(70%));
      background-color: color(white lightness(80%));
    }
  }

  &.default {
    color: color(white lightness(-80%));
    background-color: color(white lightness(-20%));

    &:active {
      background-color: color(white lightness(-10%));
    }

    &:disabled {
      cursor: not-allowed;
      color: color(white lightness(70%));
      background-color: color(white lightness(80%));
    }
  }
}
