.c-password {
  @mixin field-present;
  position: relative;
}

.c-password-input {
  @mixin field-editing;
  padding-left: 1.8rem;
}

.c-password-toggle {
  color: color(white lightness(-25%));
  cursor: pointer;
  position: absolute;
  z-index: 1;
  left: 0;
  transition: all .5s ease;
  opacity: 0.25;
}

.show-password {
  & .c-password-toggle {
    color: color(white lightness(-50%));
    opacity: 1;
  }
}
