.c-textfield {
  @mixin field-present;
}

.c-textfield-input {
  @mixin field-editing;

  &:focus {
    /*box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 5px color(var(--secondary) alpha(50%));*/
  }
}
